*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(205, 205, 205);
}
.contenedor{
    background-color: white;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
table, th, td{
    border: 2px solid rgb(39, 0, 83); 
    border-collapse: collapse;
    background-color: rgb(205, 7, 255);
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
table, th{
    border: 5px solid black;
}
th{
    background-color: rgb(48, 0, 80);
    color: white;
}
header{
background-color: rgb(99, 0, 192);
padding: 15px;
}
h1{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}
h2{
    color: rgb(175, 12, 250);
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 25px;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(156, 156, 156);
}
.data{
    background-color: rgb(234, 235, 235);
}
.empresa{
    border: 8px solid black;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 25px;
    margin-bottom: 20px;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 350px;
}
.texto{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.derechos{
    text-align: center;
    padding: 25px;
}
footer{
    background-color: rgb(99, 0, 192);
}